.DS_Store
.venv/
__pycache__/
*.py[cod]
*.egg-info/
tools/servo_tool/logs/*.csv
tools/servo_tool/logs/*.json
**/Debug/
**/Release/
firmware/.metadata/
firmware/esp32-c3-mini/esp32_c3_stm32_uart_bridge/wifi_secrets.h
